@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
html,body{
    min-height: 100%;
    background-color: darkgray;
}

header{
    background-color: black;
    box-shadow: 1px 1px 1px black;
    color: white;
    text-align: center;

}

header > h1{
    font-family: 'Passion One', cursive;
    font-size: 5vw;
    padding-top: 50px;
    font-variant: small-caps;
    

}

header > p{
    font-family: sans-serif;
    padding-bottom: 50px;
    
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-size: 3.5vw;

    
}

section > p {
    font-family: 'Sriracha', cursive;


}

section.normal{
    background-color: white;

}

section.img{
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.431);
    background-size: cover;
    background-attachment: fixed;
}

section.img > p{
    display: inline-block ;
    background-color: rgba(0, 0, 0, 0.287);
    padding: 10px;
    text-shadow: 1px 1px 0px black;
}

section#img01{
    background-image: url(imagens/background001.jpg);
    color: white;
    background-position: right center;
}

section#img02{
    background-image: url(imagens/background002.jpg);
    background-position: right center;

}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}


