@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;

}
audio#musica{
    display: block;
    position: relative;
    width: 220px;
    left: 600px;
    top: 480px;
    background-color: #888888a8;
}
video#video{
    display: block;
    position: relative;
    left: 75px;
    top: 50px;
    width: 470px;
}